/* main.css */

body {
  background-color: white;
  color: #333;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#app {
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

h1, h2, h3, p {
  color: darkslategrey;
}

h1, nav {
  text-align: center;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

p {
  color: black;
}

a {
  color: #009933;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.img_header {
  width: 800px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}


button {
  background-color: #009933;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #007722;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.button button{
  margin:20px;
}
